*{background-color: #B3E5BE;}
img{width: 50%; height: 50%; margin-left: 25%; margin-top: 5%; border: #804674 solid 5px;}
h1{font-family: 'Nova Square', sans-serif; color: 804674; text-align: center}
p{font-size:x-large; color: #804674 ; text-align: center;}


